<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Basic Definition -->
    <meta charset="utf-8">
    <title>原神 キャラ育成コスト計算機</title>
    <!-- Bootstrap Default -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./app.js?version=0"></script>
    <!-- Personal CSS -->
    <link rel="stylesheet" href="style.css?version=0">
  </head>
  <body>
    <div id="app">
      <!--Internal calculation-->
      <span style="display:none">{{ calc_exp }}</span>
      <span style="display:none">{{ calc_material }}</span>

      <!--Contents-->
      <div id="main_container" class="container container-fluid">
        <nav id="headnav" class="navbar navbar-expand-sm navbar-dark">
            <a href="#" class="navbar-brand">原神 キャラ育成コスト計算機</a>
        </nav>

        <main role="main" class="container pb-3">
          <div class="container">
            <div class="form-group m-1">
              <div class="row mb-1">
                <div class="col-sm">
                  <div class="form-inline">
                    <label class="form-label mr-2">キャラクター</label>
                    <select v-model="input.selected" class="form-control">
                      <option v-for="character in characters" :value="character.name">{{ character.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-sm">
                  <div class="form-inline">
                  <label class="form-label mr-2">現在レベル</label>
                    <input v-model="input.org" type="number" min="1" max="90" class="form-control mr-2" value="1">
                    <input v-model="input.break_org"class="form-check-input " type="checkbox" value="">
                    <label class="form-label">突破時はチェック</label>
                  </div>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-sm">
                  <div class="form-inline">
                    <label class="form-label mr-2">目標レベル</label>
                    <input v-model="input.nxt" type="number" min="1" max="90" class="form-control mr-2" value="90">
                    <input v-model="input.break_nxt" class="form-check-input" type="checkbox" value="">
                    <label class="form-label">突破時はチェック</label>
                  </div>
                </div>
              </div>
            </div>
            <div id="result_message"></div>
          </div>

          <table class="table table-bordered m-2">
            <thead>
              <tr>
                <th>経験値(大英雄★4)</th>
                <th>経験値(冒険家★3)</th>
                <th>経験値(流浪者★2)</th>
                <th>モラ</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ result.exp_book4 }}</td>
                <td>{{ result.exp_book3 }}</td>
                <td>{{ result.exp_book2 }}</td>
                <td>{{ result.mora }}</td>
              </tr>
            </tbody>
          </table>
          
          <table class="table table-bordered m-2">
            <thead>
              <tr>
                <th>{{ selected_character.local_material}}</th>
                <th>{{ selected_character.star1_material}}</th>
                <th>{{ selected_character.star2_material}}</th>
                <th>{{ selected_character.star3_material}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ result.local_material }}</td>
                <td>{{ result.demon1_material }}</td>
                <td>{{ result.demon2_material }}</td>
                <td>{{ result.demon3_material }}</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered m-2">
            <thead>
              <tr>
                <th>精鋭魔物素材</th>
                <th>属性砕屑(★2)</th>
                <th>属性欠片(★3)</th>
                <th>属性塊(★4)</th>
                <th>属性クリスタル(★5)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ result.elite_material }}</td>
                <td>{{ result.elem2_material }}</td>
                <td>{{ result.elem3_material }}</td>
                <td>{{ result.elem4_material }}</td>
                <td>{{ result.elem5_material }}</td>
              </tr>
            </tbody>
          </table>

        </div><!-- main_container(Bootstrap) -->
      </div><!-- app(Vue.js) -->
    </main>
  </body>
</html>